body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

h1{
    text-align: center;
}

.gallery-contaner{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    border: 10px solid rgb(28, 176, 125);
    background-color: rgb(239, 164, 25);
    max-width: 1000px;
    margin: 0 auto;
}

.product-card{
    flex: 1 1 200px;

    min-height: 100px;
    background-color: yellowgreen;
    border: 1px solid cornflowerblue;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}